In [ ]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART')

SyntaxError: EOL while scanning string literal (76555105.py, line 1)

In [ ]:
There is an error which says Unfortunately the page you are looking for has been moved or deleted. Hence, unable to proceed with this question

In [4]:
driver.close()

In [ ]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [5]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
driver.get("https://www.flipkart.com/")

In [8]:
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

In [11]:
submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

In [12]:
brand=[]
description=[]
price=[]

In [14]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in brands:
        brand.append(i.text)
        desc=driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in desc:
        description.append(i.get_attribute('title'))
        prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[:40]:
        price.append(i.text)

In [15]:
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100]})

print(df)

                  Brand                                        Description  \
0                BRUTON  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
1                 Sparx                            SD-323 Sneakers For Men
2                Layasa  Casual Sneakers White Shoes For Girls And Snea...
3              Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...
4                Labbin                                   Sneakers For Men
..                  ...                                                ...
95               BRUTON             Lattest Sneakers Shoe Sneakers For Men
96         K- FOOTLANCE  Smooth Black Sports,Casual,Walking,Gym Sneaker...
97               BRUTON  Men 201 & FitMan Combo Pack of 2 Loafer Sneake...
98  World Wear Footwear  Latest Exclusive Affordable Collection of Tren...
99               Layasa      Stylish Casual Sports Shoe Sneakers For Women

   Price
0   ₹499
1   ₹759
2   ₹494
3   ₹399
4   ₹379
..   ...
95  ₹249
96  ₹999
97  ₹349
98  ₹279
99  ₹399

[100 rows x 3 columns]

In [16]:
driver.close()