In [ ]:
#Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [10]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [14]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [15]:
import pandas as pd

In [17]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name})

In [18]:
df

,Title,Location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Science Analyst,Bangalore/Bengaluru,Accenture
4,Data Scientist,Bangalore/Bengaluru,IBM
5,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
6,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture
7,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture
8,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture
9,Senior Data Scientist,Bangalore/Bengaluru,Walmart

In [19]:
driver.close()

In [ ]:
#Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [20]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
url = "https://www.naukri.com"
driver.get(url)

In [23]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [24]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [25]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [28]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [29]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [30]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [31]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [33]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [34]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [35]:
import pandas as pd

In [36]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Science Specialist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,5-11 Yrs
1,Data Scientist_NLP,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs
2,Machine Learning (AI) Architect,"Noida, Kolkata, Hyderabad/Secunderabad, Bangal...",Tavant Technologies,6-11 Yrs
3,Data Science Analyst,"Delhi / NCR, Kolkata, Mumbai, Visakhapatnam, H...",Primo Hiring,1-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Open Insights,3-6 Yrs
5,Team Lead/Consultant-Marketing and Customer An...,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",AVE Promagne,5-8 Yrs
6,Client Engineering - Data Scientist,"Delhi / NCR, Mumbai, Hyderabad/Secunderabad, P...",Primo Hiring,1-3 Yrs
7,Data Scientist- Bangalore,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengal...",AVE Promagne,2-4 Yrs
8,Data Science Analyst - Data Science,"Delhi / NCR, Kolkata, Mumbai, Pune, Chennai, A...",Primo Hiring,1-3 Yrs
9,Data Science Analyst Data Science,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs

In [37]:
driver.close()

In [ ]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand
#2. ProductDescription
#3. Price

In [3]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

NameError: name 'webdriver' is not defined

In [39]:
driver.get("https://www.flipkart.com/")

In [40]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [41]:
submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

In [47]:
brand=[]
product_description=[]
price=[]

In [52]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brands=i.text
    brand.append(brands)

In [49]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags:
    p_desc=i.text
    product_description.append(p_desc)

In [50]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    Prices=i.text
    price.append(Prices)

In [53]:
brand=[]

In [7]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands[0:100]:
    brand.append(i.text)
next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

NameError: name 'driver' is not defined